<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heroes.pc.heroes1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.heroes.pc.heroes1.HeroesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HeRoes"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.heroes.pc.heroes1.authentication.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.Games_MainActivity"
            android:label="HeRoes"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.authentication.SignUpActivity"
            android:label="@string/title_activity_signUp"
            android:parentActivityName="com.heroes.pc.heroes1.authentication.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.authentication.SignUpActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.games.GameDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.heroes.pc.heroes1.Games_MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.games.GameDetailActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.heroes.pc.heroes1.Games_MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.profile.ProfileActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.groups.GroupsActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName="com.heroes.pc.heroes1.Games_MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.groups.GroupsActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.groups.GroupDetailActivity"
            android:label="@string/title_activity_group_detail"
            android:parentActivityName="com.heroes.pc.heroes1.groups.GroupsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.groups.GroupDetailActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.socialities.SocialitiesActivity"
            android:label="@string/title_activity_socialities"
            android:parentActivityName="com.heroes.pc.heroes1.Games_MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.socialities.SocialitiesActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.socialities.SoclalitiesDetailsActivity"
            android:label="@string/title_activity_socialities_detail"
            android:parentActivityName="com.heroes.pc.heroes1.socialities.SocialitiesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.socialities.SoclalitiesDetailsActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.games.GameActivity"
            android:label="Operations"
            android:parentActivityName="com.heroes.pc.heroes1.Games_MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.games.GameActivity" />
        </activity>
        <activity
            android:name="com.heroes.pc.heroes1.games.GameResultActivity"
            android:label="Operations"
            android:parentActivityName="com.heroes.pc.heroes1.games.GameActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heroes.pc.heroes1.games.GameResultActivity" />
        </activity>

    </application>

</manifest>