<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.heroes1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HeroeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".authnitication.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Games_MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authnitication.SignUpActivity"
            android:label="@string/title_activity_signUp"
            android:parentActivityName=".authnitication.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".authnitication.SignUpActivity" />
        </activity>
        <activity
            android:name=".games.GameDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".Games_MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".games.GameDetailActivity" />
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Games_MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfileActivity" />
        </activity>
        <activity
            android:name=".products.ProductActivity"
            android:label="@string/title_activity_product"
            android:parentActivityName=".Games_MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".products.ProductActivity" />
        </activity>
        <activity
            android:name=".products.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:parentActivityName=".products.ProductActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".products.ProductDetailActivity" />
        </activity>
        <activity
            android:name=".groups.GroupsActivity"
            android:label="@string/title_activity_groups"
            android:parentActivityName=".Games_MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".groups.GroupsActivity" />
        </activity>
        <activity
            android:name=".groups.GroupDetailActivity"
            android:label="@string/title_activity_group_detail"
            android:parentActivityName=".groups.GroupsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".groups.GroupDetailActivity" />
        </activity>
        <activity
            android:name=".socialities.SocialitiesActivity"
            android:label="@string/title_activity_socialities"
            android:parentActivityName=".Games_MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".socialities.SocialitiesActivity" />
        </activity>
        <activity
            android:name=".socialities.SoclalitiesDetailsActivity"
            android:label="@string/title_activity_socialities_detail"
            android:parentActivityName=".socialities.SocialitiesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".socialities.SoclalitiesDetailsActivity" />
        </activity>
    </application>

</manifest>